A quick way to build a sequence is using a list comprehension **if the target is a list** or a generator expression (for other kinds of sequences).

In [1]:
# Building a list the conventional way
symbols ='$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

In [2]:
# Building a list of Unicode code points from a string, using a listcomp
symbols ='$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [ ]:
# The walrus operator
x = 'ABC'
codes = [ord(x) for x in x]
x # x was not clobbered: it's still bound to 'ABC'

'ABC'

In [4]:
codes

[65, 66, 67]

In [5]:
codes = [last := ord(c) for c in x]

In [ ]:
last # last remains

67

In [8]:
c # is gone and no longer exists. It only existed inside the listcomp

NameError: name 'c' is not defined

In [9]:
# The same list built by a listcomp and a map/filter composition
beyond_ascii = [ord(s) for s in symbols if ord(s) > 127]
beyond_ascii

[162, 163, 165, 8364, 164]

In [10]:
beyond_ascii = list(filter(lambda c : c > 127, map(ord,symbols)))
beyond_ascii

[162, 163, 165, 8364, 164]

##### Cartesian products using list comprehensions

In [11]:
colors = ['black','white']
sizes = ['S', 'M', 'L']
tshirts = [(color,size) for color in colors for size in sizes] # This generates a list of tuples arranged by color, then size
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [12]:
# The resulting list is arranged, as if the for loops were nested in the same order as they in the listcomp.
for color in colors:
    for size in sizes:
        print((color, size))

('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [14]:
# To get items arranged by size, then color, just rearrange the for clauses; 
# adding a line break to the listcomp makes it easier to see how the result will be ordered.
tshirts = [(color, size) for size in sizes
                        for color in colors]
tshirts

[('black', 'S'),
 ('white', 'S'),
 ('black', 'M'),
 ('white', 'M'),
 ('black', 'L'),
 ('white', 'L')]

##### Generator expressions

Genexps use the same syntax as listcomps, but are enclosed in parentheses rather than brackets.

In [15]:
symbols ='$¢£¥€¤'
# If the generator expression is the single argument in a function call, there is no need to duplicate the enclosing parentheses.
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [17]:
import array
# The array constructor takes two arguments, so the parentheses around the generator expression are mandatory.
# The first argument of the array constructor defines the storage type used for the numbers in the array.
array.array('I', (ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [19]:
# Compared to the t-shirt example above, the list of t-shirts is never built in memory.
# The generator expression feeds the for loop producing one item at a time.
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in (f'{c} {s}' for c in colors for s in sizes):
    print(tshirt)
# The generator expression yields items one by one; a list with all six T-Shirt variations is never produced in this example.

black S
black M
black L
white S
white M
white L

##### Tuples used as records

In [21]:
# Latitude and longitude of the LAX Airport
lax_coordinates = (33.9425, -118.408056)

# Data about Tokyo: name, year, population (thousands), population change(%) and area(km^2)
city, year, pop, chg, area = ('Tokyo', 2003, 32_450, 0.66, 8014)

# A list of tuples of the form (country_code, passport_number)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

# Iterating over the list, passport is bound to tuple.
for passport in sorted(traveler_ids):
    print('%s/%s' % passport) # The % formatting operator understands tuples and treats each item as a separate field.

BRA/CE342567
ESP/XDA205856
USA/31195855

In [22]:
# The for loop knows how to retrieve the items of a tuple separately -  this is called "unpacking". Here we are not intereste din the second
# item, so we assign it to _, a dummy variable.
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

The content of a tuple itself is immutable, but that only means the references held by the tuple will always point to the same object. However, if one of the referenced objects is mutable-like a list- its content may change.

In [1]:
a = (10, 'alpha', [1,2])
b = (10, 'alpha', [1,2])
a == b

True

In [2]:
b[-1].append(99)
a == b

False

In [3]:
b

(10, 'alpha', [1, 2, 99])

In [4]:
# If you want to determine explicitly if a tuple (or any object) has a fixed value, you can use the hash built-in to create a fixed function
def fixed(o):
    try:
        hash(o)
    except TypeError:
        return False
    return True

In [5]:
tf = (10, 'alpha', (1,2))
tm = (10, 'alpha', [1,2])
fixed(tf)

True

In [6]:
fixed(tm)

False

##### Unpacking Sequences and Iterables

In [9]:
# The most visible form of unpacking is parallel assignment
# That is, assigning items from an iterable to a tuple of variables
lax_coordinates = (33.9424, -118.408056)
latitude, longitude = lax_coordinates # This is unpacking
latitude

33.9424

In [8]:
longitude

-118.408056

In [10]:
# Elegant application is swapping the values of variables without using a temporary variable
b, a = a, b

In [11]:
longitude, latitude = lax_coordinates
longitude

33.9424

In [12]:
# Another example of unpacking is prefixing an argument with * when calling a function
divmod(20,8)

(2, 4)

In [13]:
t = (20,8)

In [14]:
divmod(*t)

(2, 4)

In [16]:
# This allows functions to return multiple values in a way convenient to the caller.
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [18]:
# os.path.split() returns a tuple (path, last_part) from a filesystem path:
import os
_, filename = os.path.split('/c/Users/dalgurnawi/Documents/Learning/python_basics/example.py')
filename

'example.py'

In [19]:
# Using function parameters wiuth *args to grab arbitrary excess arguments is a classic python feature.
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [20]:
# Context of parallel assignment, the * prefix can be applied to exactly one variable, but can appear in any position
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [21]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

In [22]:
# Python 3.5+ a more flexible syntax was introduced for iterable unpacking.
# In function calls, one can use * mutiple times:
def fun(a, b, c, d, *rest):
    return a,b,c,d,rest

fun(*[1,2], 3, *range(4,7))

(1, 2, 3, 4, (5, 6))

In [23]:
# A powerful feature of tuple unpacking is that it works with nested structures.
# The target of an unpacking can use nesting, e.g. (a,b, (c,d))

# Each tuple holds a record with four fields, the last of which is a coordinate pair
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

In [24]:
def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for name, _, _, (lat, lon) in metro_areas: # By assigning the last field to a nested tuple, we unpack the coordinates.
        if lon <=0: # This will only select cities in Western hemisphere
            print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')
if __name__=='__main__':
    main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [25]:
# The target of an unpacking assignment can also be a list.

##### Match/case handling sequences

In [26]:
def handle_command(self, message):
    match message: # The expression after the match keyword is the subject. The subject is the data that Python will try to match to the pattens in each case clause
        case['BEEPER', frequency, times]: # This pattern matches any subject that is a squence with three items.
            self.beep(times, frequency)
        case ['NECK', angle]: # Matches any subject with two items, the first being 'NECK'
            self.rotate_neck(angle)
        case ['LED', ident, intensity]: # This will match a subject with three items starting with 'LED'. If the number of items doesn't match, Python proceeds with the next case
            self.leds[ident].set_brightness(ident, intensity)
        case ['LED', ident, red, green, blue]: # Another sequence pattern starting with 'LED', now with 5 items -including 'LED' constant
            self.leds[ident].set_color(ident, red, green, blue)
        case _:
            raise InvalidCommand(message) # This is the default case. It will match any subject that did not match a previous pattern.

In [ ]:
# It's destructuring feature is a more advanced form of unpacking.
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
    ('New York-Newark', 'US', 20.104, (40.808611, -74.020386)),
    ('São Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]

def main():
    print(f'{"":15} | {"latitude":>9} | {"longitude":>9}')
    for record in metro_areas:
        match record: # The subject of this match is record
            case [name, _, _, (lat, lon)] if lon <= 0: # A case clause has two parts, a pattern and an optional guard with the if keyword
                print(f'{name:15} | {lat:9.4f} | {lon:9.4f}')

In general, a sequence pattern matches the subject if:
1. The subject is a sequence and;
2. The subject and the pattern have the same number of items and;
3. Each corresponding item matches, including nested items.

In [28]:
main()

                |  latitude | longitude
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
São Paulo       |  -23.5478 |  -46.6358

In [29]:
# Can make patterns more specific by adding type information
# case [str(name), _, _, (float(lat), float(lon))]
# In the context of a pattern, that syntax performs a runtime type check: the preceding pattern will match a four-item sequence in which 0 must be a str,
# and item 3 must be a pair of floats.
# matchin any subject sequence with a starting with a string and ending with a nested sequence of two floats, can write:
# case [str(name), *_, (float(lat), flaot(lon))]:
# The *_ matches any number of items, without binding them to a variable

#### Slicing

In [37]:
# Assigning to slices
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
l[2:5] = [20,30]
l

[0, 1, 20, 30, 5, 6, 7, 8, 9]

In [39]:
del l[5:7]
l

[0, 1, 20, 30, 5, 8, 9]

In [40]:
l[3::2]=[11,22]
l

[0, 1, 20, 11, 5, 22, 9]

In [41]:
# When the target of the assignment is a slice, the righthand side must be an iterable object, even if it just has one item
l[3::2] = 100

TypeError: must assign iterable to extended slice

In [42]:
l[2:5]=[100]
l

[0, 1, 100, 22, 9]

##### Using + and * with Sequences

In [44]:
# Sometimes need to initialize a list with a certain number of nested lists
board = [['_'] * 3 for i in range(3)] # Creates a list of three lists of three items each.
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [48]:
board[1][2] = 'X'
board

[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [45]:
# This will be different to the following

In [47]:
weird_board = [['_']*3]*3
weird_board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [50]:
weird_board[1][2] = '0'
weird_board

[['_', '_', '0'], ['_', '_', '0'], ['_', '_', '0']]

In [ ]:
# The ourt list is made of three references to the same list, while in the first instance these are different lists.
# As a result, all rows are aliases referring to the same object. 
# In essence behaving like 
row = ['_']*3
board = []
for i in range(3):
    board.append(row) # The same row is appended 3 times to the board
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [52]:
# On the other hand, the first list comprehension is equivalent to this
board = []
for i in range(3):
    row = ['_']*3 
    board.append(row) # Each iteration builds a new row and appends it to board
board

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [53]:
# Bytecode investigation for the expression s[a] += b

dis.dis('s[a] += b')

NameError: name 'dis' is not defined

#### list.sort Versus the sorted Built-In

- list.sort method sorts a list in place. It returns None, because it changes the receiver and does not create a new list.
- Built-in function sorted creates a new list and returns it. It accepts any iterable object as an argument.

In [54]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
sorted(fruits)

['apple', 'banana', 'grape', 'raspberry']

In [55]:
sorted(fruits, reverse=True)

['raspberry', 'grape', 'banana', 'apple']

In [56]:
sorted(fruits, key=len)

['grape', 'apple', 'banana', 'raspberry']

In [59]:
sorted(fruits, key=len, reverse=True)

['raspberry', 'banana', 'grape', 'apple']

In [60]:
fruits # The list should be unchanged

['grape', 'raspberry', 'apple', 'banana']

In [61]:
fruits.sort()

In [63]:
fruits # now it is permanently changed

['apple', 'banana', 'grape', 'raspberry']